table.progress-bar {
  height: 25px !important;
  width: 150px !important;
  border-width: 0 !important;
  background-color: #003366;
  border-radius: 5px;
}

table.progress-bar.red {
  background-color: #881100;
}

table.progress-bar.unknown {
  /* TODO Test this works */
  background: #226600 url("chrome-extension://__MSG_@@extension_id__/assets/images/rainbow.gif") repeat-x;
  background-size: 16px 25px;
}

.pane.build-controls,
#executors table td.pane {
  vertical-align: top !important;
}

table tr td.progress-bar-done {
  background: url("chrome-extension://__MSG_@@extension_id__/assets/images/rainbow.gif") repeat-x right center;
  background-size: 16px 25px;
  background-color: transparent !important;
}

table tr td.progress-bar-left {
  background: url("chrome-extension://__MSG_@@extension_id__/assets/images/nyan.gif") no-repeat left center;
  background-size: 30px 25px;
  background-color: transparent !important;
}

.no-background {
  background-color: transparent !important;
}