#popup {
  width: 200px;
  font-weight: 200;
  padding: 1em;
}

img#icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  color: #444;
  font-size: 140%;
  font-weight: 200;
}

h2 {
  color: #888;
  font-size: 120%;
  font-weight: 200;
  margin-bottom: 0px;
}

label {
  display: block;
  margin-top: 8px;
}

input {
  display: block;
}

input[type=text] {
  width: 100%;
  height: 22px;
  border: 0;
  border-bottom: 1px solid #bbb;
  border-radius: 4px;
}

input[type=text]:focus {
  border: 0;
  border-bottom: 1px solid #888;
  outline: none;
}

input[type=submit] {
  width: 54px;
  height: 18px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}